body{
    background-color: rgb(238, 234, 234);
}

.header{display: flex;

}
.date{ flex-grow: 2; text-align: right; color: grey;
    
}
.footer{
    display: flex;
}
.icon1{
   flex-grow: 2; text-align: right;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
}